[
vector-of-bigdecs.edn
vector-of-strings.edn
vector-of-uuid.edn
vector-of-bigints.edn
vector-of-instants.edn
map-of-maps.edn
mixed-vector.edn
vector-of-maps.edn
vector-of-longs.edn
set-of-longs.edn
vector-of-doubles.edn
large-keyword-map.edn
large-symbol-map.edn
map-tree.edn
vector-of-keywords.edn
set-of-keywords.edn
vector-of-symbols.edn
set-of-symbols.edn
vector-of-ints.edn
vector-tree.edn
vector-of-booleans.edn
list-of-nil.edn
vector-of-nil.edn
vector-of-vectors.edn
vector-of-chars.edn]