[
numbers.edn
comment.edn
string-with-escaped-backslash.edn
discard-with-comment.edn
comment-trailing.edn
tag-unhandled.edn
keyword.edn
string-with-quote.edn
character-vector.edn
tag-inst.edn
map.edn
nil-keyed-map.edn
set.edn
symbol-vector.edn
map-with-vector-key.edn
commas-no-one-cares.edn
string.edn
symbol-extra-colons.edn
symbol-with-hash.edn
discard-entire-form.edn
nested-list.edn
decimal-symbol.edn
discard-in-vector.edn
positive-symbol.edn
discard-touching-item.edn
basic-list.edn
vector.edn
negative-symbol.edn
false.edn
true.edn
discard-outside-form.edn
nil.edn
string-with-bracket.edn]