[
numbers.edn
comment.edn
mixed-list.edn
string-with-escaped-backslash.edn
discard-with-comment.edn
comment-trailing.edn
tag-unhandled.edn
keyword.edn
string-with-quote.edn
character-vector.edn
tag-inst.edn
map.edn
nil-keyed-map.edn
set.edn
symbol-vector.edn
map-with-vector-key.edn
commas-no-one-cares.edn
string.edn
symbol-extra-colons.edn
symbol-with-hash.edn
discard-entire-form.edn
nested-list.edn
decimal-symbol.edn
set-with-map.edn
discard-in-vector.edn
positive-symbol.edn
set-with-list.edn
discard-touching-item.edn
string-with-escaped-newline.edn
string-with-escaped-tab.edn
symbol-truefalse.edn
basic-list.edn
vector.edn
negative-symbol.edn
symbol-with-dash.edn
symbol-with-slash.edn
false.edn
symbol-preceding-dot.edn
symbol-trailing-dot.edn
true.edn
discard-outside-form.edn
nil.edn
whitespace-triple-space.edn
string-with-bracket.edn
empty-list.edn
whitespace-single-space.edn
symbol-slash.edn
whitespace-comma.edn
whitespace-blank.edn]